PORT=3000
NODE_ENV=development
COMPANY_NAME=Công Ty Cổ Phần Công Nghệ VIMES

DB_HOST=localhost
DB_PORT=5432
DB_NAME=wms_db
DB_NAME_TEST=wms_db_test
DB_NAME_PROD=wms_db_prod
DB_USER=postgres
DB_PASSWORD=postgres
